
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Analysis</title>
    <!--[if lt IE 10]>
      <script src="~/Content/assets/js/html5shiv.js"></script>
      <script src="~/Content/assets/js/respond.min.js"></script>
      <![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Gradient Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="olap, pivot, pivotgrid, analysis, ssas, office, excel, flat ui, admin Admin, Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="nGenie DashLab" />
    <link rel="icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon">
    <link href="~/Content/assets/css/roboto.css?family=Roboto:400,500" rel="stylesheet">

    @Styles.Render("~/bootstrap-css")
    @Styles.Render("~/waves-css")
    @Styles.Render("~/themify-css")
    @Styles.Render("~/font-awesome-css")

    <!-- Nuovi css-->
    @Styles.Render("~/dataTables-bootstrap4-css")
    @Styles.Render("~/buttons-dataTables-css")
    @Styles.Render("~/responsive-bootstrap4-css")

    @Styles.Render("~/style-css")
    @Styles.Render("~/mCustomScrollbar-css")

    <!-- Select2 CSS-->
    @Styles.Render("~/select2-css")
    @Styles.Render("~/bootstrap-multiselect-css")
    @Styles.Render("~/multiselect-css")

    @Scripts.Render("~/jquery-js")

    <!-- Select2 JS Fornisce un controllo per selezionare un cubo in uno specifico database -->
    @Scripts.Render("~/jquery-ui-js")
    @Scripts.Render("~/select2-js")

    @RenderSection("CoreCssSection", required: false)
    @RenderSection("CustomCssSection", required: false)
    @RenderSection("CustomHeaderSection", required: false)

    <!-- Nuovo, serve per utilizzare la libreria signalR-->
    @Scripts.Render("~/jquery-signalR-js")
    <script src="~/signalr/hubs"></script>
</head>
<body>
    @Html.Partial("~/Views/Shared/_preloader.cshtml")

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            @Html.Partial("~/Views/Shared/NavBar/_headernavbar.cshtml")
            @Html.Partial("~/Views/Shared/SideBar/_pUserChat.cshtml")
            @Html.Partial("~/Views/Shared/SideBar/_pShowChat.cshtml")
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    @Html.Partial("~/Views/Shared/NavBar/_leftnavbar.cshtml")
                    <div class="pcoded-content">
                        @RenderBody()
                    </div>
                    @*@Html.Partial("~/Views/Shared/NavBar/_rightnavbar.cshtml")*@
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/jquery-ui-js")

    @Scripts.Render("~/popper-js")
    @Scripts.Render("~/bootstrap-js")
    @Scripts.Render("~/waves-js")
    @Scripts.Render("~/jquery-slimscroll-js")

    @*Include anche css-scrollbars.js*@
    @Scripts.Render("~/modernizr-js")

    <!-- Nuove -->
    @Scripts.Render("~/jquery-dataTables-js")
    @Scripts.Render("~/datatables-buttons-js")

    @*Aggiunto per tentare di risolvere problemi di visualizzazione su table zero configuration*@
    @*@Scripts.Render("~/vfs-fonts-js")
        @Scripts.Render("~/data-table-custom-js")
        @Scripts.Render("~/pcoded-min-js")*@

    @Scripts.Render("~/buttons-html5-js")
    @Scripts.Render("~/dataTables-bootstrap4-js")
    @Scripts.Render("~/dataTables-responsive-js")
    @Scripts.Render("~/responsive-bootstrap4-js")

    @Scripts.Render("~/pcoded-js")
    @Scripts.Render("~/vertical-js")
    @Scripts.Render("~/mCustomScrollbar-js")
    @Scripts.Render("~/script-js")
    @Scripts.Render("~/bootbox-js")

    @*  Libreria Toastr *@
    @Scripts.Render("~/toastr-js")
    @Styles.Render("~/toastr-css")


    @RenderSection("scripts", required: false)
    @RenderSection("CoreJs", required: false)
    @RenderSection("CustomJs", required: false)
</body>
</html>



